<div class="row-fluid">
	<div class="span1"></div>
	<div class="span10">
		<%= form_tag post_edit_explanation_path, method: :get do -%>
		<input type="text" name="explanation" value="<%= @question.explanation %>">
		<input name="id" type="hidden" value="<%= @question.id %>">
		<%= submit_tag 'Edit', class: "btn btn-primary" %>
		<% end -%>
	</div>
	<div class="span1"></div>
</div>