<div class="row-fluid toprow">
	<div class="span1"></div>
	<div class="span10">
		<div class="row-fluid">
			<div class="span12">
			</div>
		</div>
		<div class="row-fluid" style="margin-bottom: 15px; ">
			<div class="span12">
				<% unless @question.explanation_image_file_name.nil? %>
					<%= image_tag @question.explanation_image.url %>
				<% else %>
					<%= @simple_explanation.html_safe %>
				<% end %>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<a href="/questions/explanation/edit/<%=@question.id%>">Edit</a>
			</div>
		</div>	
	</div>
	<div class="span1"></div>
</div>
