<form method="post" >
  <fieldset>
    <legend>Sign In</legend>
    <label>User Name</label>
    <input type="text" value="<%= @user %>" placeholder="Enter User name here..." name="username">
    <!-- <span class="help-block">Example block-level help text here.</span> -->
    <!-- <label class="checkbox"><input type="checkbox"> Check me out</label>-->

    <label>Password</label>
    <input type="password" placeholder="Enter Password here..." name="password" >
    
    </br>

    <button type="submit" class="btn">Submit</button>
  </fieldset>

</form>