

<tr>
	<td><%= answer.question.test_number %></td>
	<td><%= answer.question.section.titlecase %></td>
	<td><%= answer.question.question_number %></td>
	<td>
		<% if answer.correct() %>
			Yes
		<% else %>
			No
		<% end %>
	</td>
	<td><%= link_to "Try Again","www.google.com"%></td>

</tr>