<div class="container-fluid">
	<div class="row-fluid toprow">
		<div class="span12">
			<div class="alert alert-info" style="font-size: 120%;">
				<span style="text-decoration: underline;"> Decide with Aubrey what should go here</span><br><br>
				<ul>
					<li># of students who have used the portal</li>
					<li>% of students who have used the portal</li>
					<li>average # of questions answered per student</li>
					<li>
						Any other metrics Aubrey or Griffith board would need to see to evaluate portal effectiveness/impact
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>