

<div class="row-fluid" style="margin-top:50px;">
	<% if @answer.correct%>
	<div class="span12" style="background-color: green; font-size: 120%; font-weight: bold">
		You are correct.
	</div>
	<% else %>
	<div class="span12" style="background-color: red; font-size: 120%; font-weight: bold">
		You are <span style="text-decoration: underline;">in</span>correct.
	</div>
	<% end %>	
</div>

<div class="row-fluid" style="margin-top:25px; border-bottom: 1px dashed; font-size: 200%;">
	<div class="span12">Answer Explanation</div>
</div>

<div class="row-fluid">
	<div class="span12">
		<% unless @answer.question.explanation_image_file_name.nil? %>
			<%= image_tag @answer.question.explanation_image.url %>
		<% else %>
			<% @explanation_text = @answer.question.explanation || "Explanation not available." %>
		    <%= @explanation_text.html_safe %>
		<% end %>
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
		<table class="table table-bordered">
			<tr>
				<td><a href="/answers/record/<%= @answer.question.id %>">Retry</a></td>
				<td><a href="/">Answer Summary</a></td>
			</tr>
		</table>
	</div>
</div>
