<div class="row-fluid">
	<div class="col-xs-12">
		<p></p>
		<div class="alert alert-warning fade in">
		<button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
		<strong>Please Take The Feedback Survey!</strong><br>
		If you have not already done so, please take the feedback survey for the online portal. 
		Click <a href="https://www.surveymonkey.com/s/3FB7WJ5">here</a> to take the survey.  
		</div>
		<p></p>
	</div>
</div>

<div class="row-fluid">
	<div class="col-xs-12">
		<div class="panel panel-primary">
		  <div class="panel-heading">
			  <div class="row">
				  <div class="col-xs-8">
					  <h4>Week 1 Homework</h4>
				  </div>
				  <div class="col-xs-2" style="text-align: right;">
					  Due By: 
				  </div>
				  <div class="col-xs-2">
					  <span style="padding: 5px; background-color: #999999; color: black;">3/10/2014</span>
				  </div>
			  </div>
			  <div class="row">
				  <div class="col-xs-8"></div>
				  <div class="col-xs-2" style="text-align: right;">
					  <b>% Complete:</b>
				  </div>
				  <div class="col-xs-2">
					  <div class="progress progress-striped">
					    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
					      <span class="sr-only">40% Complete (success)</span>
					    </div>
					  </div>
				  </div>
			  </div>
		  </div>
		  <div class="panel-body">
			  <div class="row">
				  <div class="col-xs-2" style="text-align: right; ">
					  <b>English Questions </b>
				  </div>
				  <div class="col-xs-10">
					  <a href="#" class="btn btn-sm btn-default">1MC#1</a>	
					  <a href="#" class="btn btn-sm btn-default">1MC#2</a>
					  <a href="#" class="btn btn-sm btn-success">1MC#3</a>
					  <a href="#" class="btn btn-sm btn-danger">1MC#4</a>
				  </div>
			  </div>

		  </div>
		</div>
	</div>
</div>