/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'bootstrap';

.fraction, .top, .bottom {
    padding: 0 5px;    
}

.fraction {
    display: inline-block;
    text-align: center;    
}

.bottom{
    border-top: 1px solid #000;
    display: block;
}

.row-fluid.toppadding {
	margin-left: -20px;
	*zoom: 1;

	margin-top: 10px;
}

.row-fluid.headerrow {
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 200%;
	border-bottom: 1px dashed;
}

.hidden {
	display: none;
}

.row-fluid.toprow {
margin-left: -20px;
*zoom: 1;

margin-top: 50px;
}

.output {
	background: lightblue;
}

.shortbox {
	width: 100px;
}

.veryshortbox {
	width: 50px;
}